language: node_js
node_js:
- '0.12.2'
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
before_script:
  - npm install -g grunt grunt-cli
script: cd grunt && npm install && npm test