<div class="masteries">
    <div class="masteries-masteryTree" ng-repeat="masteryTree in masterySlots.tree track by $index">
        <div class="masteries-masteryTree-row" ng-repeat="masteryRow in masteryTree track by $index">
            <div class="mastery" ng-repeat="masterySlot in masteryRow track by $index">
                <div class="mastery-slot" ng-style="getStyle(masterySlots.data[masterySlot.masteryId])">{{masterySlot.masteryId}}</div>
            </div>
        </div>
    </div>
</div>