.masteries {
  height: 479px;
  width: 827px;
  background-color: #98c2ff;
  position: relative;
}

.masteries-masteryTree {
  float: left;
  position: relative;
  border:1px solid red;
  width: 275px;
  box-sizing: border-box;
}

.masteries-masteryTree-row {
  margin: 10px 7px 10px 7px;
  border:1px solid green;
  box-sizing: border-box;
  display: inline-block;
}

.mastery {
  border:1px solid blue;
  box-sizing: border-box;
  height: 54px;
  width: 54px;
  float: left;
  margin-left: 13px;
}
.mastery:first-child {
  margin-left: 0;
}